<div class="as-container landing">
  <div class="main">
    <img class="logo" src="assets/images/logo_as.svg" alt="anthillsolutions" title="anthillsolutions">
    <p class="subtitle">towards <span>solutions</span> together</p>
  </div>
  <!-- <h1 class="as-title">anthill<span>solutions</span></h1> -->
  <p class="motto">
    Solving web solutions around the world for anyone
  </p>
  <p class="footer">
    anthill<span>solutions</span>
    © 2021
    •
    <a href="mailto:pierre@anthillsolutions.fr">contact</a>
  </p>
</div>
